.col-xl-9.d-none.d-xl-block.reports-xl.pt-3.pl-3{style: "margin-left: 250px;"}
  .container
    .container.d-flex.justify-content-between
      %h3.mt-2.mb-3= "#{@nickname}さんのページ"
      %p.mt-2.mb-2 合計作業時間：8時間40分
    .row
      - @reports.each do |report|
        .col-xl-6.card{style: "width: 100%;"}
          - if report.images.present?
            .card.mb-3{:style => "max-width: 540px;"}
              .row.no-gutters
                .col-md-4
                  = image_tag report.images[0], class:'card-img', alt: 'image'
                .col-md-8
                  .card-body
                    %h5.card-title
                      = report.title
                    %h6.card-title
                      = "作業時間：#{report.spend_hour}時間#{report.spend_minute}分"
                    = link_to '詳細', report_path(report), class: 'btn btn-info'
                    - if user_signed_in? && current_user.id == report.user.id
                      = link_to '編集', edit_report_path(report), class: 'btn btn-info'
          - else
            .card-body
              %h5.card-title 
                = report.title
              %h6.card-title
                = "作業時間：#{report.spend_hour}時間#{report.spend_minute}分"
              = link_to '詳細', report_path(report), class: 'btn btn-info'
              - if user_signed_in? && current_user.id == report.user.id
                = link_to '編集', edit_report_path(report), class: 'btn btn-info'
.col-xl-9.d-xl-none.reports-xl.pt-3.pl-3{style: "height: calc(100vh - 18%); overflow: scroll;"}
  .contaner.ml-md-3.d-lg-flex.justify-content-between
    %h3.mt-2.mb-3= "#{@nickname}さんのページ"
    %p.mt-2.mb-2 合計作業時間：8時間40分
  .container
    .row
      - @reports.each do |report|
        .col-xl-6.card{style: "width: 100%;"}
          - if report.images.present?
            .card.mb-3{:style => "max-width: 540px;"}
              .row.no-gutters
                .col-md-4
                  = image_tag report.images[0], class:'card-img', alt: 'image'
                .col-md-8
                  .card-body
                    %h5.card-title
                      = report.title
                    %h6.card-title
                      = "作業時間：#{report.spend_hour}時間#{report.spend_minute}分"
                    = link_to '詳細', report_path(report), class: 'btn btn-info'
                    - if user_signed_in? && current_user.id == report.user.id
                      = link_to '編集', edit_report_path(report), class: 'btn btn-info'
          - else
            .card-body
              %h5.card-title 
                = report.title
              %h6.card-title
                = "作業時間：#{report.spend_hour}時間#{report.spend_minute}分"
              = link_to '詳細', report_path(report), class: 'btn btn-info'
              - if user_signed_in? && current_user.id == report.user.id
                = link_to '編集', edit_report_path(report), class: 'btn btn-info'
