-# pcサイズ
.col-xl-10.d-none.d-xl-block.reports-xl
  = render partial: 'user-header', locals: { nickname: @nickname }
  %h5.show-user-activities アクティビティ一覧
  - if @activities.present?
    - @activities.each do |activity|
      .list-group
        = link_to user_activity_path(@user, activity), class: 'list-group-item list-group-item-action' do
          .d-flex.w-100.justify-content-between.align-items-center
            .activity-name-on-pc
              %h5.mb-1= activity.name
            %small= "合計作業時間：#{return_result_spend_hour(activity.reports)}時間#{return_result_spend_minute(activity.reports)}分"

-# iPad以下
.container.d-xl-none.show-mypage-under-lg
  = render partial: 'user-header', locals: { nickname: @nickname }
  %h5.show-user-activities アクティビティ一覧
  - if @activities.present?
    - @activities.each do |activity|
      .list-group.activity-list-under-lg
        = link_to user_activity_path(@user, activity), class: 'list-group-item list-group-item-action' do
          .justify-content-between.align-items-center
            .activity-name-under-lg
              %h5.mb-1= activity.name
            %small= "合計作業時間：#{return_result_spend_hour(activity.reports)}時間#{return_result_spend_minute(activity.reports)}分"
