.col-xl-10.d-none.d-xl-block.report-form
  = form_with(model: @activity, url: '/activities', class: 'mt-3', local: true) do |f|
    .form-group
      = f.label :name, 'アクティビティ'
      = f.text_field :name, class: 'form-control', placeholder: 'アクテビティ名を入力してください'
    = f.button :Send, class: 'btn btn-info'

.container.d-xl-none.report-form-under-lg
  = form_with(model: @activity, url: '/activities', class: 'mt-3', local: true) do |f|
    .form-group
      = f.label :name, 'アクティビティ'
      = f.text_field :name, class: 'form-control', placeholder: 'アクティビティ名を入力してください'
    = f.button :Send, class: 'btn btn-info'