.col-xl-6.card{style: "width: 100%;"}
  - if report.images.present?
    .card.mb-3{:style => "max-width: 540px;"}
      .row.no-gutters
        .col-md-4
          = image_tag report.images[0], class:'card-img', alt: 'image'
        .col-md-8
          .card-body
            %h5.card-title
              = report.user.nickname
            %h6.card-title
              = report.title
            %p.card-text
            = link_to '詳細', report_path(report), class: 'btn btn-info'
  - else
    .card-body
      %h5.card-title
        = report.user.nickname
      %h6.card-title 
        = report.title
      = link_to '詳細', report_path(report), class: 'btn btn-info'
