!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ActivityLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .container-fluid
    .row
      %nav.col.navbar.fixed-top.navbar-expand-xl.navbar-light{style: "background-color: #e3f2fd;"}
        %a.navbar-brand{href: "#"} Activity Log
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav.d-xl-none
            %li.nav-item
              %a.nav-link{href: "#"}
                %i.fas.fa-home ホーム
            - if user_signed_in?
              %li.nav-item
                = link_to new_report_path, class: 'nav-link' do
                  %i.fa.fa-edit レポートを書く
              %li.nav-item
                %a.nav-link{href: "#"}
                  %i.fas.fa-user マイページ
              %li.nav-item
                %a.nav-link{href: "#"}
                  %i.fas.fa-user-cog アカウント設定
              %li.nav-item
                = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
            - else
              %li.nav-item
                = link_to 'ログイン', new_user_session_path, class: 'nav-link'
              %li.nav-item
                = link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link'
    .row.main-part-container.d-flex.p-2.vh-100.mt-5
      .col-xl-2.side_nav.border-right.d-none.d-xl-block.h-100.position-fixed.mt-3
        %ul.nav.flex-column.d-none.d-xl-block
          %li.nav-item.mt-3
            %a.text-secondary.nav-link{:href => "#"}
              %i.fas.fa-home ホーム
          - if user_signed_in?
            %li.nav-item.mt-3
              = link_to new_report_path, class: 'text-secondary nav-link' do
                %i.fa.fa-edit レポートを書く
            %li.nav-item.mt-3
              %a.text-secondary.nav-link{:href => "#"}
                %i.fas.fa-user マイページ
            %li.nav-item.mt-3
              %a.text-secondary.nav-link{:href => "#"}
                %i.fas.fa-user-cog アカウント設定
            %li.nav-item.mt-3
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'text-secondary nav-link'
          - else
            %li.nav-item.mt-3
              = link_to 'ログイン', new_user_session_path, class: 'text-secondary nav-link'
            %li.nav-item.mt-3
              = link_to 'ユーザー登録', new_user_registration_path, class: 'text-secondary nav-link'
      = yield
      %nav.navbar.navbar-expand.d-xl-none.fixed-bottom.navbar-light{style: "background-color: #e3f2fd;"}
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item.mx-4
              %a.nav-link{href: "#"}
                %i.fas.fa-home
            - if user_signed_in?
              %li.nav-item.mx-4
                %a.nav-link{href: "#"}
                  %i.fas.fa-user
              %li.nav-item.mx-4
                = link_to new_report_path, class: 'nav-link' do
                  %i.fa.fa-edit
