.container.mt-4.d-none.d-xl-block{style: 'margin-left: 400px; max-width: 800px;'}
  %h3.mb-4 ユーザー登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-group
      = f.label 'ニックネーム', for: 'exampleInputNickname'
      = f.text_field :nickname, id: 'exampleInputNickname', class: 'form-control', placeholder: 'ニックネーム'
    .form-group
      = f.label 'e-mail', for: 'exampleInputEmail1'
      = f.text_field :email, autofocus: true, autocomplete: 'email', id: 'exampleInputEmail1', class: 'form-control', placeholder: 'E-mail'
    .form-group
      = f.label 'パスワード', for: 'password'
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, id: 'password', class: 'form-control', autocomplete: "パスワード"
    .form-group
      = f.label 'パスワード（確認用）', for: 'password_confirmation'
      %br/
      = f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control', autocomplete: "new-password"
    .form-group
      = f.button '新規登録', class: 'btn btn-info'
  = render "users/shared/links"
.container.d-xl-none.mt-4
  %h3.mb-4 ユーザー登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-group
      = f.label 'ニックネーム', for: 'exampleInputNickname'
      = f.text_field :nickname, id: 'exampleInputNickname', class: 'form-control', placeholder: 'ニックネーム'
    .form-group
      = f.label 'e-mail', for: 'exampleInputEmail1'
      = f.text_field :email, autofocus: true, autocomplete: 'email', id: 'exampleInputEmail1', class: 'form-control', placeholder: 'E-mail'
    .form-group
      = f.label 'パスワード', for: 'password'
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, id: 'password', class: 'form-control', autocomplete: "new-password"
    .form-group
      = f.label 'パスワード（確認用）', for: 'password_confirmation'
      %br/
      = f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control', autocomplete: "new-password"
    .form-group
      = f.button '新規登録', class: 'btn btn-info'
  = render "users/shared/links"
